<%- include('../template/head')-%>

<body>
    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="container">
        <section class="tm-section-head" id="top">

            <%- include('../template/nav')-%>

        </section>

        <p> </p>
        <p> </p>
        <p> </p>

        <section class="tm-section-3 tm-section-mb" id="tm-section-3">

            <!-- <p> HOME > <%= events.name %> > <%= events.title %></p> -->
            <p> HOME > <a href=/location/<%= tracks.locationUrl %>> <%= tracks.location %> </a> >  <%= events.title %>
            <table style="width:100%">

                <% events.value.forEach(function(item){ %>

                <tr>
                    <th><%= item.createdAt %></th>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">방폐물 출발</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info"><a style="color:blanchedalmond"
                                    href=/tracking/<%= item.url %>>방폐물 배송 중 </a> </button> </div> </td> <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success"><a style="color:blanchedalmond"
                                                href=/reporting/<%= item.url %>>방폐물 도착 </a> </button> </div> </td> </tr>
                                                <% }) %> </table> <br>

                                    </div>
                        </div>


    </div>
    </section>

    <%- include('../template/footer')-%>
    </div>

    <!-- load JS files -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <!-- https://popper.js.org/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <!-- Slick Carousel -->

    <script>
        function setCarousel() {
            var slider = $(' .tm-img-slider');
            if (slider.hasClass('slick-initialized')) {
                slider.slick('destroy');
            }
            if ($(window).width() > 991) {
                // Slick carousel
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            } else {
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            }
        }

        $(document).ready(function () {
            if (renderPage) {
                $('body').addClass('loaded');
            }

            setCarousel();

            $(window).resize(function () {
                setCarousel();
            });

            // Close menu after link click
            $('.nav-link').click(function () {
                $('#mainNav').removeClass('show');
            });

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top + 1
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex',
                                        '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
        });
    </script>

    <style>
        table,
        th,
        td {
            border: 0px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 15px 15px;
            text-align: center;
        }

        .box1 {
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            box-shadow: 10px 10px 5px;
        }

        .box2 {
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gray;
            box-shadow: 10px 10px 5px;
        }

        .blurBox1 {
            box-shadow: 10px 10px 5px light gray;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blurBox2 {
            box-shadow: 10px 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blurBox3 {
            box-shadow: 10px 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    </style>

</body>

</html>
