<%- include('../template/head')-%>

<body>
    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="container">
        <section class="tm-section-head" id="top">

            <%- include('../template/nav')-%>

        </section>

        <p> </p>
        <p> </p>
        <p> </p>

        <section class="tm-section-3 tm-section-mb" id="tm-section-3">
            <p> HOME > <a href=/location/<%= tracks.locationUrl %>> <%= tracks.location %> </a>> <a
                    href=/operation/<%= tracks.nameUrl %> </a> <%= tracks.name %> </a>> 최종보고서</p> <button type="button"
                    class="btn-link">

                    <b>
                        <a href="https://opis.kins.re.kr/opis?act=KROBA4300P&eventSeqn=954" target="_blank">최종보고서
                            다운받기</a></b></button>
                    <p>
                        <li><b>원인 분석</b>
                    </p>
                    </li>
                    <table style="width:100%">
                        <tr>
                            <th></th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>

                            <td>
                                <div class="<%= tracks.human %>">
                                    <font color="white">인적실수</font>
                                </div>
                            </td>
                            <td>
                                <div class="<%= tracks.machine %>">
                                    <font color="white">기계결함</font>
                                </div>
                            </td>
                            <td>
                                <div class="<%= tracks.measurement %>">
                                    <font color="white">계측결함</font>
                                </div>
                            </td>
                        </tr>
                        <tr></tr>
                        <td>
                            <div class="<%= tracks.electrical %>">
                                <font color="white">전기결함</font>
                            </div>
                        </td>
                        <td>
                            <div class="<%= tracks.external %>">
                                <font color="white">외부영향</font>
                            </div>
                        </td>
                        <td>
                            <div class="<%= tracks.etc %>">
                                <font color="white">기타</font>
                            </div>
                        </td>
                        </tr>
                    </table>


                    <p>
                        <li><b>재발여부 <mark>O</mark> X</b>
                    </p>
                    </li>
                    <p>
                        <li><b>근본원인 분석</b>
                    </p>
                    </li>
                    <p>피로에 의한 정비작업 처리절차 미준수 및 계산오류</p>
                    <p>근무 교대시 작업전 회의 재수행 절차 미준수</p>




                    <%- include('../template/footer')-%>
    </div>

    <!-- load JS files -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <!-- https://popper.js.org/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <!-- Slick Carousel -->

    <script>
        function setCarousel() {
            var slider = $(' .tm-img-slider');
            if (slider.hasClass('slick-initialized')) {
                slider.slick('destroy');
            }
            if ($(window).width() > 991) {
                // Slick carousel
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            } else {
                slider.slick({
                    autoplay: true,
                    fade: true,
                    speed: 800,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
            }
        }

        $(document).ready(function () {
            if (renderPage) {
                $('body').addClass('loaded');
            }

            setCarousel();

            $(window).resize(function () {
                setCarousel();
            });

            // Close menu after link click
            $('.nav-link').click(function () {
                $('#mainNav').removeClass('show');
            });

            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function (event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top + 1
                            }, 1000, function () {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex',
                                        '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
        });
    </script>

    <style>
        table,
        th,
        td {
            border: 0px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }

        .box1 {
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            box-shadow: 10px 10px 5px;
        }

        .box2 {
            border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gray;
            box-shadow: 10px 10px 5px;
        }

        .blurBox1 {
            box-shadow: 10px 10px 5px light gray;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blurBox2 {
            box-shadow: 10px 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blurBox3 {
            box-shadow: 10px 10px 5px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .boxGreen {
            color: white;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .boxOrange {
            color: white;
            background-color: orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .boxRed {
            color: white;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .circleGreen {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 3px solid green;
            border- font-size: 16px;
            text-align: center;
            line-height: 25px;
        }

        .circleOrange {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 3px solid orange;
            font-size: 16px;
            text-align: center;
            line-height: 25px;
        }

        .circleRed {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 3px solid red;
            font-size: 16px;
            text-align: center;
            line-height: 25px;
        }
    </style>

</body>

</html>